# -*- makefile-gmake -*-
#
# ----------------------------------------------------------------------
# @file    make.dist
# @author  Benjamin Gerard AKA Ben/OVR
# @date    2017-08-26
# @brief   Make rules for dist related targets
# ----------------------------------------------------------------------
#

# ----------------------------------------------------------------------
#  Distrib variables
# ----------------------------------------------------------------------

# List of directories to scan for default distrib files
ifndef dist_sub
dist_sub := $(dir $(wildcard Makefile */Makefile))
endif

# List of files to include to the distribution archive
ifndef dist_lst
dist_lst := $(dist_extra) VERSION LICENCE \
 $(foreach dir,$(dist_sub), $(wildcard $(addprefix $(dir),
 *.c *.h *.s *.S make.* Makefile README*)))
endif

ifndef dist_dir
dist_dir := $(PACKAGE)-$(VERSION)
endif

dist_arc = $(dist_dir).tar.xz

# ----------------------------------------------------------------------
#  Distrib cooking
# ----------------------------------------------------------------------

dist: distrib
distcheck: dist-check
distrib: dist-arc
dist-all: all distrib
dist-check: dist-make dist-sweep


dist-dir:
	@test ! -d "$(dist_dir)" || \
	chmod -R -- u+w $(dist_dir)/ && \
	rm -rf -- $(dist_dir)/
	@mkdir -- "$(dist_dir)" # Fail if exist or whatever

dist-arc: dist-dir
	set -o pipefail; tar -cpC $(topdir) $(dist_lst) | tar -xpC $(dist_dir)
	@echo $(VERSION) >$(dist_dir)/VERSION
	@echo $(VERSION) >$(dist_dir)/src/VERSION
	@tar --owner=0 --group=0 -czpf $(dist_arc) $(dist_dir)/
	@rm -rf -- $(dist_dir)
	@echo "distrib file -- \"$(dist_arc)\" -- is ready"

dist-extract: dist-arc
	@[ ! -e $(dist_dir) ] || { echo $(dist_dir) already exist; false; }
	@[ ! -e _build-$(dist_dir) ] || rm -rf -- _build-$(dist_dir)
	@tar xf $(dist_arc)
	@chmod -R ug-w $(dist_dir)/
	@echo "extracted -- \"$(dist_arc)\""

.IGNORE: dist-make    # detect error on presence of _build-$(dist_dir)
dist-make: dist-extract
	@mkdir -- _build-$(dist_dir) && \
	echo "compiling -- $(dist_dir)" && \
	{ test "x$(MAKERULES)" = x || \
	cp -- "$(MAKERULES)" _build-$(dist_dir)/; } && \
	$(MAKE) -sC _build-$(dist_dir) \
		-f ../$(dist_dir)/src/Makefile dist-all && \
	rm -rf -- _build-$(dist_dir)

dist-sweep:
	@test ! -d $(dist_dir) || \
	chmod -R -- u+w $(dist_dir) && rm -rf -- $(dist_dir)
	@test ! -d _build-$(dist_dir) || {\
		rm -rf -- _build-$(dist_dir); \
		echo "compilation of $(dist_dir) has failed"; \
		false; }

.PHONY: dist dist-all dist-arc dist-dir dist-check dist-extract	\
        dist-make dist-sweep distcheck
